<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <security:debug/>
    <security:http pattern="/bootstrap/**" security="none"/>
    <security:http pattern="/static/**" security="none"/>
    <security:http pattern="/user/login" security="none"/>
    <security:http auto-config="true">
        <security:anonymous enabled="true" granted-authority="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:form-login login-page="/user/login" password-parameter="password" username-parameter="username"
                             authentication-failure-url="/user/login?error" login-processing-url="/login"/>
        <security:remember-me remember-me-parameter="remember" user-service-ref="iUserDetailsService"/>
        <security:csrf disabled="true"/>
        <security:custom-filter ref="filterSecurityInterceptor" before="FILTER_SECURITY_INTERCEPTOR"/>
    </security:http>

    <!--认证管理-->
    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider user-service-ref="iUserDetailsService">
            <security:password-encoder ref="passwordEncoder" hash="md5">
            </security:password-encoder>
        </security:authentication-provider>
    </security:authentication-manager>
    <bean id="iUserDetailsService" class="net.mouza.security.service.impl.IUserDetailsServiceImpl">
    </bean>
    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
    <bean id="loggerListener"
          class="org.springframework.security.authentication.event.LoggerListener"/>
    <bean id="authorizationListener"
          class="org.springframework.security.access.event.LoggerListener"/>
    <bean id="accessDecisionManager"
          class="net.mouza.security.CAccessDecisionManager">
        <property name="allowIfAllAbstainDecisions" value="false"/>
        <constructor-arg name="decisionVoters">
            <util:list>
                <bean class="org.springframework.security.access.vote.RoleVoter">
                    <property name="rolePrefix" value=""/>
                </bean>
                <bean class="org.springframework.security.access.vote.AuthenticatedVoter"/>
            </util:list>
        </constructor-arg>
    </bean>


    <bean id="securityMetadataSource" class="net.mouza.security.CFilterInvocationSecurityMetadataSource"
          autowire="byName">
        <constructor-arg name="res" ref="resourceInfoServiceImpl"></constructor-arg>
        <constructor-arg name="role" ref="roleInfoServiceImpl"></constructor-arg>
    </bean>


    <bean id="filterSecurityInterceptor"
          class="net.mouza.security.CSecurityInterceptor">
        <property name="authenticationManager" ref="authenticationManager"/>
        <property name="accessDecisionManager" ref="accessDecisionManager"/>
        <property name="securityMetadataSource" ref="securityMetadataSource"/>

    </bean>

    <bean id="authenticationManager"
          class="org.springframework.security.authentication.ProviderManager">
        <constructor-arg name="providers">
            <util:list>
                <ref bean="daoAuthenticationProvider"/>
                <ref bean="rememberMeAuthenticationProvider"/>
            </util:list>
        </constructor-arg>
    </bean>

    <bean id="daoAuthenticationProvider"
          class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <property name="userDetailsService" ref="iUserDetailsService"/>
        <!-- 当用户不存在时，能够抛出UsernameNotFoundException异常 -->
        <property name="hideUserNotFoundExceptions" value="false"/>
        <property name="passwordEncoder" ref="passwordEncoder"/>
    </bean>

    <bean id="rememberMeAuthenticationProvider"
          class="org.springframework.security.authentication.RememberMeAuthenticationProvider">
        <constructor-arg name="key" value="eGaln6MmeZ2yMad-#Ori$BS=J)Mi!xyR3B3S"/>
    </bean>

    <bean id="securityContextRepository"
          class="org.springframework.security.web.context.HttpSessionSecurityContextRepository"/>

    <bean id="securityContextPersistenceFilter"
          class="org.springframework.security.web.context.SecurityContextPersistenceFilter">
        <constructor-arg ref="securityContextRepository"/>
    </bean>

</beans>